<ul
  class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm"
  id="pillNav2"
  role="tablist"
  style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);"
>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active rounded-5"
      id="home-tab2"
      data-bs-toggle="tab"
      type="button"
      role="tab"
      aria-selected="true"
    >
      Home
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link rounded-5"
      id="profile-tab2"
      data-bs-toggle="tab"
      type="button"
      role="tab"
      aria-selected="false"
    >
      Profile
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link rounded-5"
      id="contact-tab2"
      data-bs-toggle="tab"
      type="button"
      role="tab"
      aria-selected="false"
    >
      Contact
    </button>
  </li>
</ul>

<img
  src="https://www.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg"
  class="img-thumbnail"
  alt="..."
/>
<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<app-about></app-about>
<app-education></app-education>
<app-references></app-references>
<app-skills></app-skills>
